<div class="container">
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
      <ol class="breadcrumb py-2">
          <h1>補課申請</h1>
      </ol>
  </nav>
  <div class="alert alert-info" role="alert" [innerHTML]="systemMessage | safeHtml"></div>
  <div class="d-flex align-items-center">
      <h5 class="mb-0">
      </h5>
      <button type="button" class="btn btn-primary my-3 ms-auto" (click)="openModal(lessonsForm)"><i class="fas fa-plus text-white"></i> 填寫補課申請表</button>
  </div>
  <div style="flex-wrap: nowrap;" class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
    <div class="input-group">
      <div class="input-group-text btn btn-primary" (click)="decreaseValue(school_year)">-</div>
      <input style="max-width: 60px; min-width: 60px;" maxlength="3" type="text" class="form-control" placeholder="Input group example" aria-label="" aria-describedby="btnGroupAddon" value="{{currentSemester?.SchoolYear}}" #school_year (keypress)="numberOnly($event)" (keyup)="yearChange($event);">
      <div class="input-group-text btn btn-primary" (click)="increaseValue(school_year)">+</div>
      <div class="input-group-text" style="background: white; ">學年度</div>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="input-group">
      <div class="btn-group" role="group" aria-label="Small radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio0" autocomplete="off" [checked]="currentSemester?.Semester==0" (click)="changeCurrentSemester(0);">
        <label class="btn btn-outline-primary" for="btnradio0">夏季學期</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" [checked]="currentSemester?.Semester==1" (click)="changeCurrentSemester(1);">
        <label class="btn btn-outline-primary" for="btnradio1">第1學期</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" [checked]="currentSemester?.Semester==2" (click)="changeCurrentSemester(2);">
        <label class="btn btn-outline-primary" for="btnradio2">第2學期</label>
      </div>
    </div>
  </div>

  <table class="table table-bordered rwd-table mt-3">
      <thead class="table-light">
          <tr>
              <th>申請時間</th>
              <th>開課班次</th>
              <th>課程名稱</th>
              <th>申請補課時間</th>
              <th>補課原因</th>
              <th>審核狀態</th>
              <th>&nbsp;</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let section of makeupRequestList;">
              <td data-label="申請時間">{{section.RequestDateTime}}</td>
              <td data-label="開課班次">{{section.ClassName}}</td>
              <td data-label="課程名稱">{{section.SubjectName}}</td>
              <td data-label="申請補課時間">{{section.SectionTime}}</td>
              <td data-label="補課原因">{{section.Reason}}</td>
              <td data-label="審核狀態">
                <container-element [ngSwitch]="section.Status">
                  <div *ngSwitchCase="-1" class="alert alert-primary">審核中</div>
                  <div *ngSwitchCase="1" class="alert alert-success">
                    <div>審核通過</div>
                    <div>
                      <div>補課班次：{{section.nClassName}}</div>
                      <div>課程名稱：{{section.nSubjectName}}</div>
                      <div>上課時間：{{section.nSectionTime}}</div>
                      <div>上課教室：{{section.nPlace}}</div>
                    </div>
                  </div>
                  <div *ngSwitchCase="0" class="alert alert-danger">審核不通過<br />{{section.FailReason}}</div>
                </container-element>
              </td>
              <td><a [class.disabled]="section.Cancel=='t' ? true: null" class="btn btn-outline-danger" (click)="revoke(section); $event.preventDefault();">{{section.Cancel=='t'?'已撤銷':'撤銷申請'}}</a></td>
          </tr>
      </tbody>
  </table>
</div>
<!-- Modal -->
<ng-template #lessonsForm class="modal-dialog modal-lg" let-modal tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">填寫補課申請表</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="closeModal();"></button>
        </div>
        <div class="modal-body">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  補課說明
                </button>
              </h2>
            </div>
          </div>

            <div class="collapse show mb-3" id="collapseExample">
              <div class="card card-body" [innerHTML]="makeupMessage | safeHtml"></div>
            </div>
            <table class="table table-bordered rwd-table mt-3">
                <thead class="table-light">
                    <tr>
                        <th>開課班次</th>
                        <th>課程名稱</th>
                        <th><span style="color: red;">*</span>申請補課時間</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let course of myCourse?.Courses; index as i">
                        <td data-label="開課班次">{{course.ClassName}}</td>
                        <td data-label="課程名稱">{{course.SubjectName}}</td>
                        <td data-label="申請補課時間">
                          <div *ngFor="let section of myCourse.CourseSections index as j;">
                            <div *ngIf="course.CourseID==section.RefCourseID">
                              <div class="form-check form-check-inline">
                                  <input *ngIf="!((section.Status && section.Cancel!='t') || CompareNow(section.StartTime) || getMakeupCount(course)<=0 || section.isMakeup)" class="form-check-input" type="checkbox" id="{{'sectionCheckbox-' + section.SectionID}}" value="{{section.SectionID}}" (click)="sectionChange($event, course, section)" style="cursor: pointer;">
                                  <label [style.color]="((section.Status && section.Cancel!='t') || CompareNow(section.StartTime) || getMakeupCount(course)<=0 || section.isMakeup) ? 'rgb(172, 176, 180)' : 'black'" class="form-check-label" for="{{'sectionCheckbox-' + section.SectionID}}" style="cursor: pointer;">{{section.RequestDateTime}}
                                    <container-element *ngIf="section.Cancel!='t'" [ngSwitch]="section.Status">
                                      <span *ngSwitchCase="-1" style="color: #084298;">(審核中)</span>
                                      <span *ngSwitchCase="'0'" style="color: #842029;">(審核不通過)</span>
                                      <span *ngSwitchCase="1" style="color: #0f5132;">(審核通過)</span>
                                      <span *ngSwitchCase="''">
                                        <span *ngIf="CompareNow(section.StartTime) && !section.isMakeup">(已過期)</span>
                                      </span>
                                    </container-element>
                                    <container-element *ngIf="section.Cancel=='t'" [ngSwitch]="section.Status">
                                        <span *ngIf="CompareNow(section.StartTime) && !section.isMakeup">(已過期)</span>
                                    </container-element>
                                    <span *ngIf="section.isMakeup">{{"(已補課：" + section.MakeupDescription + ")"}}</span>
                                  </label>
                              </div>
                            </div>
                          </div>
                            <div class="bg-light text-muted small p-2 mt-3">剩餘補課申請次數：{{getMakeupCount(course)}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="card card-body">
                <div class="mb-3">
                    <label class="form-label fw-semibold"><span style="color: red;">*</span>補課原因</label><!--<small class="ms-2 text-muted">2022/01/18</small>-->
                    <textarea class="form-control" rows="3" #reason [(ngModel)]="currentReason"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal();">取消</button>
            <button type="button" class="btn btn-primary" (click)="sendMakeupRequest();">送出申請</button>
        </div>
    </div>
</ng-template>

<!--送出補課申請時，因資料不足而發出的警告-->
<ng-template #alertModal let-modal>
  <div class="modal-footer" style="display: block;">
    <div style="color: red; font-weight: bold; text-align: center; white-space: break-spaces;">{{alertModalMessage}}</div>
    <button type="button" class="btn btn-link" (click)="modal.close()" style="float: right;">關閉</button>
  </div>
</ng-template>

<!--點選「撤銷申請」時，發出警告-->
<ng-template #revokeModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title" style="color: red;">撤銷申請警告</h4>
  </div>
  <div class="modal-body">
    <p style="font-size: large;"><strong>您確定要撤銷補課申請？</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">取消</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('ok')">確定</button>
  </div>
</ng-template>

<router-outlet></router-outlet>
